[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gensim = "*"
spacy = "*"
numpy = "*"
nltk = "*"
swig = "==3.0.12"
cmake = "*"
jamspell = "*"
psycopg2 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
